<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">

    </script>
    <style>
    .left-box {
      background: red;
      float: left;
    }
    .right-box {
      background: blue;
      float: right;
    }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>옵션 무시 <input type="radio" name="timeTable" value=""></td>
          <td>옵션 적용 <input type="radio" name="timeTable" value=""></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><iframe src="TT-1.html" width="500" height="600"></iframe></td>
          <td><iframe src="TT-2.html" width ="500" height="600"></iframe></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><input type="button" name="" value="Create" onclick="goBack();"></td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
